html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  height: 240px;
}

.robot {
  width: 320px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 55px;
}

.robot-body {
  display: block;
  width: 320px;
}

.robot-brain {
  width: 35px;
  position: absolute;
  left: 44.8%;
  bottom: 126px;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
}

.robot-head-right {
  position: absolute;
  left: 49.9%;
  bottom: 53px;
  z-index: 2;
}

.robot-head-left {
  position: absolute;
  bottom: 53px;
  left: 11%;
}

.robot:hover .robot-head-left {
  bottom: 60px;
  left: .2%;
}

.robot:hover .robot-head-right {
  left: 61%;
  bottom: 60px;
}

.robot:hover .robot-brain {
  left: 44.8%;
  bottom: 140px;
}
